
body{
    font-family: Arial, Helvetica, sans-serif;
    list-style: circle;
    line-height: 1.6;
    align-items: center;
}
h1,h2,h3{
    color:#333
}
h1{
    text-align: center;
}
p{
    color: #555;
    text-align: center;
}

header{
    background-color: #333;
    padding: 1rem;
    color: aliceblue;
    text-align: center;
    margin: 0;
}
#home button{
    background-color:aliceblue;
    color: aliceblue;
    cursor: pointer;
    margin: 0px;
    padding: 20px;
    text-align: center;

}
nav{
    margin: 0 15px;
    color: white;
    text-decoration: dashed;
    font-weight: bold;
    display: flex;
   
    text-align: center;
}

#welcome-text{
    text-align: center;
    margin: 40 0px;
    text-align: center;
}
#courses{
    background-color: #f4f4f4;
    padding: 40px 20px;
}
.courses-list{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}
.courses{
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgb(0, 0,0,0,1);
    text-align: center;
}
.courses h3{
    margin: 40px 20px;
    background-color: #fff;
}
form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
form label{
    font-size: 1rem;
    color: #333;
}
form input,form textarea{
    padding: 10px;
    font-size: 1rem;
    border: 1px soid #ccc;
    border-radius: 4px;
}
form button{
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
}
footer{
    background-color: #333;
    color: white;
    padding: 10px;
    margin: 15px;
    text-align: center;
}